@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;900&display=swap');
html{
          scroll-behavior: smooth;      
            }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.container{
width: 100%;
height: 100vh;
background-image: url(https://steamuserimages-a.akamaihd.net/ugc/398925305501297776/64B863758E4A28B3E9C5CBCA1032A539EAC96681/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
background-size: cover;
background-position: bottom;
overflow: hidden;
}
.black{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top left,rgba(0,0,0,0.7),rgba(0,0,0,0.8));
    position: absolute;
background-size: cover;
background-position: bottom;
overflow: hidden;
}
.black{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top left,rgba(0,0,0,0.7),rgba(0,0,0,0.8));
    position: absolute;

    overflow: hidden;
}
.center{
    position: absolute;
    width: 100%;
   top: 50%;
  left: 50%;
    transform: 
    translate(-50%,-50%);
    padding: 0 30px;
    text-align: center;
    color: white;
}
.center h1{
  font-size: 35px;
  color: rgb(255, 255, 255);
}
.center h1 span{
    color: rgb(19, 141, 240);
}
.center p{
 font-size: 18px;
}
.center button{
 padding: 3px 20px;
 margin-top: 20px;
 background: transparent;
 border: 2px solid white;
 color: white;
 font-weight:600;
 transition:300ms;
 border-radius:2px;
}
button:hover{
    color:black;
    background-color: white;
}
nav{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 100;
}
nav h1{
    font-size: 30px;
    margin-left: 20px;
    color: white;
}
ul{
    position: absolute;
    right: 20px;
}
li{
    display: inline;
    list-style-type: none;
    margin-left: 20px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(19, 141, 240);
}
nav .open{
    font-size: 30px;
    color: white;
    position: absolute;
    right: 20px;
    display: none;
}
nav .close{
    font-size: 30px;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 20px;
    margin-top: -35px;
    display: none;
}
.content{
    padding: 30px;
    text-align: justify;
}
.content h1{
    text-align: center;
}
@media only screen and (max-width:650px) {
    ul{
        background-color: white;
        top: 0px;
       padding:40px ;
        right: -200px;
       height: 100vh;
       transition: 1s;
    }
    li{
        display: block;
        margin-bottom: 10px;
    }
    a{
        color: black;
    }
   nav .open{
display: block;
    }
   nav .close{
        display: block;
   }
}
footer{
    color:white;
    background-color: black;
    width:100%;
}                 
#weee{
    Background-color:black;
    color:white;
    border-radius:4px;
    width:100px;  
    padding:2px                                                  
}
